{% extends 'blogs/base.html' %}

{% block page_header %}
  <div style="clear: both">
    <h3>{{ blogpost }}</h3> - <small><a href="{% url 'blogs:delete_blogpost' blogpost.id %}">
          delete topic</a></small>
  </div>
{% endblock page_header %}

{% block content %}
  <p>
  	<a href="{% url 'blogs:new_entry' blogpost.id %}">Add a new post</a>
  </p>

  {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:'M d,Y H:i' }}
        <small><a href="{% url 'blogs:edit_entry' entry.id %}">
          edit post</a></small> - 
        <small><a href="{% url 'blogs:delete_entry' entry.id %}">
          delete post</a></small>
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no entries for this blogpost</p>
  {% endfor %}

{% endblock content %}